.slider-wrapper
{
	position: relative;
	width: 400px;
	height: 200px;	
	border: 0px solid #f3f3f3;
}
.slider-ul
{
	list-style: none;	
	margin: 0px;
	padding: 0px;
}

.slider-ul  li
{
	position: relative;
	display: block;
	top: 0px;
	left: 0px;
	width:390px;
}

.slider-footer
{	
	z-index: 998990;
	top: 10px;
	left: 20px;
	float: left !important;
	display:block; position: fixed; : 0; right: 0;
}

.slider-footer a
{	
	color: #ffffff !important;
	height: 16px !important;
	width: 16px !important;
	display: block;
	float: left !important;
	text-indent:-8000px;
	background-image: url(images/button.png);
	outline: none;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
}

.slider-footer .active-link
{	
	color: red !important;	
	background-position: right bottom;
}

.footer-buttons
{
	float: left;
	list-style:none;
}

#btnLeft
{
	height: 29px !important;
	width: 28px !important;
	text-indent:-8000px;
	display: block;
	background-image: url(images/left.png);
}

#btnRight
{
	height: 29px !important;
	width: 28px !important;
	text-indent:-8000px;
	display: block;
	background-image: url(images/right.png);
}

.div-left
{
	position: absolute;
	left: 0px;
	z-index: 9999;
	top: 150px;	
}
.div-right
{
	position: absolute;
	right: 0px;
	z-index: 9999;
	top: 150px;
}